body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  padding: 20px;
}

h1 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
}

button {
  background: #1f2937;
  color: white;
  border: none;
  border-radius: 6px;
}

#resultado {
  margin-top: 15px;
  font-size: 18px;
}
