* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #111;
  width: 100%;
  max-width: 360px;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,255,180,0.2);
}

h1 {
  text-align: center;
  color: #00ffb3;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 15px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

.calcular {
  background: #00ffb3;
  color: #000;
  font-weight: bold;
}

.whatsapp {
  background: #25d366;
  color: #000;
}

#resultado {
  margin-top: 15px;
  font-size: 15px;
}
