body {
  background: #0f172a;
  color: #f8fafc;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

#resultado {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}

#aviso {
  color: #facc15;
  text-align: center;
  font-size: 14px;
}
